body {
  margin: 0;
  padding: 0;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
  font-family: arial, sans;
  color: white;
}

a, .link {
  color: #7fa0e0;
  text-decoration: underline;
}

button {
  background: none;
  cursor: pointer;
  color: white;
  border: solid 1px grey;
  border-radius: 3px;
  padding: 5px 10px;
}

.text-label {
  position: absolute;
  top: -1000;
  left: -1000;
  cursor: pointer;
  padding: 5px;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.5);
}


/* https://stackoverflow.com/questions/1367409/how-to-make-button-look-like-a-link */
.collapsor {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

.collapsed {
  display: none;
}

.panel {
  padding: 1em;
  color: #ccc;
  z-index: 1;
  visibility: visible;
}

.dialog {
  position: fixed;
  top: 1em;
  left: 0;
  right: 0;
  min-width: 325px;
  width: 50%;
  margin: 0 auto;
  padding: 1em;
  border: solid 1px white;
  background-color: grey;
  border-radius: 10px;
  z-index: 2;
  text-align: left;
  overflow-y: auto;
}

.dialog button {
  float: right;
}

.dialog a {
  color: lightblue;
}

.dialog h1 {
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  border-bottom: solid 1px white;
}

.dialog span {
  display: inline-block;
  width: 4em;
  font-weight: bold;
}

#scene-id, #ui {
  color: white;
}

#scene-id .fullscreen-control {
  display: none;
}

#nav-id {
  display: block;
  position: fixed;
  top: 0px;
}

#target-id {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 2em;
  text-align: center;
  text-transform: capitalize;
  color: red;
  border: solid 1px blue;
}

#top-right {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

#top-right .textButton {
  border: none;
  text-decoration: underline;
  font-size: 1em;
  padding: 0.5em 0 0 1em;
  color: #ccc;
}

#top-right .dialog {
  padding: 1em;
}

#keys-id ul {
  columns: 2;
  list-style-type: none;
}

#keys-id li {
  padding: 3px;
}

#time-scale-id, #text-buttons {
  margin: 0.5em 0
}

@media (max-width: 500px) {
  #top-right {
    top: initial;
    bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  #time-id {
    display: flex;
    flex-direction: column-reverse;
  }
}


/** fullscreen.js */
.fullscreen-control {
  position: absolute;
  width: 50px;
  height: 40px;
  bottom: 0px;
  right: 0px;
  cursor: pointer;
}


/** The dashed box */
.fullscreen-control div {
  display: inline-block;
  width: 30px;
  height: 20px;
  z-index: 1;
}


.fullscreen-dash {
  display: inline-block;
  width: 30px;
  height: 20px;
  border: dashed 5px grey;
  opacity: 0.5;
}


.fullscreen-dash-zoomed {
  width: 30px;
  height: 20px;
  border: dashed 5px grey;
  opacity: 0.3;
}
