[submodule "java/http"]
	path = java/http
	url = https://github.com/pablo-mayrgundter/http
[submodule "howto/atmos/glsl-atmosphere/glsl"]
	path = howto/atmos/glsl-atmosphere/glsl
	url = https://github.com/wwwtyro/glsl-atmosphere
