body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial, sans;
  color: white;
}

a, .link {
  color: #aaf;
}

a:hover, .link:hover {
  color: #faf;
}

a:visited, .link:visited {
  color: #ccf;
}

.link {
  text-decoration: underline;
}

button {
  background-color: inherit;
  color: #ccf;
  border: solid 2px grey;
  border-radius: 3px;
  margin: 0;
  padding: 3px;
  width: 2em;
}

button:hover {
  background-color: #555;
}

.collapsed {
  display: none;
}

#nav-id {
  display: block;
  width: 25%;
  position: fixed;
  background-color: #222;
  opacity: 0.8;
  bottom: 0;
  border-top: solid 2px #888;
  border-right: solid 2px #888;
  border-top-right-radius: 10px;
}

#nav-id div {
  border-top: solid 1px grey;
  padding: 1em;
}

#nav-id div:first-child {
  border-top: none;
}

#info-id {
  color: white;
  z-index: 3;
}

#time-id {
  font-family: monospace;
  padding: 1em 0 1em 0.5em;
}

#date-id {}

#controls-id {
  font-family: monospace;
  font-weight: bold;
}

#controls-id button {
  font-size: 1.5em;
}

#keys-id {
  display: none;
  position: fixed;
  width: 60%;
  margin: 5% 20%;
  padding: 1em;
  border: solid 1px white;
  background-color: grey;
  border-radius: 10px;
}

#keys-id h1 {
  width: 100%;
  text-align: center;
  border-bottom: solid 1px white;
}

#keys-id ul {
  columns: 2;
  list-style-type: none;
}

#keys-id li {
  padding: 3px;
}

#keys-id span {
  display: inline-block;
  width: 4em;
  font-weight: bold;
}