body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: arial, sans;
  color: white;
}

a {
  color: #aaf;
}

a:hover {
  color: #faf;
}

a:visited {
  color: #ccf;
}

button {
  background-color: inherit;
  color: #ccf;
  border: solid 2px grey;
  border-radius: 3px;
  margin: 0;
  padding: 3px;
  width: 2em;
}

button:hover {
  background-color: #555;
}

.collapsed {
  display: none;
}

#nav-id {
  display: block;
  width: 25%;
  position: fixed;
  background-color: #222;
  opacity: 0.8;
  bottom: 0;
  border-top: solid 2px #888;
  border-right: solid 2px #888;
  border-top-right-radius: 10px;
}

#nav-id div {
  border-top: solid 1px grey;
  padding: 1em;
}

#nav-id div:first-child {
  border-top: none;
}

#info-id {
  color: white;
  z-index: 3;
}

#time-id {
  font-family: monospace;
  padding: 1em 0 1em 0.5em;
}

#date-id {}

#controls-id {
  font-family: monospace;
  font-weight: bold;
}

#controls-id button {
  font-size: 1.5em;
}
