@import '/node_modules/@pablo-mayrgundter/fullscreen.js/fullscreen.css';
@import '../index.css';


body {
  height; 100%;
  margin: 1em;
  color: white;
  background: #333;
}


ol {
  margin-block-start: 0;
  padding-inline-start: 1em;
}


ul, ol {
  padding-left: 1em;
}


#ui {
  position: relative;
  top: 0;
  left: 0;
  width: 600px;
  height: 600px;
  float: right;
  margin: 2em;
  background-color: black;
}
